---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import Intro from '../components/Intro.astro';
import Activities from '../components/Activities.astro';
import Events from '../components/Events.astro';
import Board from '../components/Board.astro';
import CallToAction from '../components/CallToAction.astro';
import Navbar from '../components/Navbar.astro';


---

<Layout>

  <main>
    <Hero/>
    <Intro/>
    <Activities/>
    <Events/>
    <Board/>
    <CallToAction>
  </main>

</Layout>
